
/* ===== Estilos del banner ===== */
.banner {
    background-color: #6c4675; /* Morado */
    color: white;
    padding: 20px 0;
    text-align: center;
}

.banner h2 {
    margin: 0 auto 30px; /* margen superior 0 y  margen inferior 30px */
    color: #b5b2b2;
    font-size: 1.5rem;
    font-weight: normal;
}

.banner-logo {
    display: block;
    margin: 0 auto 10px; /* Centra la imagen y espacio inferior 10px */
    max-width: 300px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
}

.icon-links {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.icon-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
}

.icon-links a:hover {
    color: #e0e0e0;
}

.nav-bar {
    background-color: #343a40; /* Gris oscuro */
    padding: 10px 0;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
}

.nav-bar a:hover {
    color: #e0e0e0;
}

/* === Estilos de contenedores de productos === */
.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 1px; /* espacio fijo entre columnas y filas */
  }
  
  /* Tarjetas ocupan todo el espacio del grid */
  .col-12.col-md-4 {
    width: 33%;
    display: flex;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    flex-grow: 1;
  }
/* ==== Estilos de botones ==== */
/* Cambio de color de fondo en el botón */
.btn {
    background-color: #6c4675 !important;
    border: none !important;
    color: white !important;
}
.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

/* Botón lila */
.btn-lila {
  background-color: #9b5de5;
  color: white;
  border: none;
}
.btn-lila:hover {
  background-color: #7b2cbf;
}